[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "dotbot-brew"]
	path = plugins/dotbot-brew
	url = https://github.com/d12frosted/dotbot-brew.git
[submodule "dotbot-golang"]
	path = plugins/dotbot-golang
	url = https://github.com/delicb/dotbot-golang
[submodule "plugins/dotbot-git"]
	path = plugins/dotbot-git
	url = https://github.com/DrDynamic/dotbot-git.git
